{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h2>Weeks on the Billboard Hot 100</h2>
  <p>Taking a look at Queen's history on the Billboard Hot 100 Charts, there is no doubt that the band has made a lasting impact on their fans after 'Bohemian Rhapsody' spent nearly a year on the charts.</p>

  

<div>
<iframe title="Queen's 'Bohemian Rhapsody' reigns the Billboard charts, no surprise there" aria-label="Split Bars" id="datawrapper-chart-LStmv" src="https://datawrapper.dwcdn.net/LStmv/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="472"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();
</script>
</div>

</article>
{% endblock %}