{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Discography of the band, Queen</h1>
  <p>A compiled list of all their albums since 1973.</p>

  
  <div class="index-discs">
  {% for album in queen.discography %}
    <h3>{{ album.title }} ({{ album.year}}) </h3>
    <img src="img/discs/{{album.image}}" alt="discs" class="img-fluid">
    <hr>
  {% endfor %}
  </div>

</article>
{% endblock %}