{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block content %}
<article class="container">
  <h1>Discography of the band, Queen</h1>
  <h4>A compiled list of all their albums since 1973.</h4>

  

<div class="row row-cols-sm-2 row-cols-md-3">
{% for album in queen.discography %}
  <div class="col mb-4">
    <div class="card">
      <img src="img/discs/{{album.image}}" class="card-img-top" alt="discs">
      <div class="card-body">
        <h5 class="card-title">{{ album.title }} ({{ album.year}})</h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</article>
{% endblock %}