{% extends '_templates/base.njk' %}

{% block page_title %}Gabby Keene's Website{% endblock %}

{% block content %}
<div class="container">
  
      <h1>All you need to know about the band, Queen</h1>
      <p> If you're just starting to fangirl over Queen, or if you've been a fan since their first song was released, here is where you can find the basics on Queen.</p>
      <p>Queen are a British rock band formed in London in 1970. There were four main members of the band: Freddie Mercury, Brian May, Roger Taylor and John Deacon. Some of their most famous songs include "Bohemian Rhapsody" and "We Are The Champions." (Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)#:~:text=Queen%20are%20a%20British%20rock,and%20John%20Deacon%20(bass).&text=He%20joined%20in%201970%20and%20suggested%20the%20name%20%22Queen%22." target="_blank">Wikipedia</a>)</p>
      <hr>
      <h2>Members of the band</h2>
      <p>The famous members of Queen are each so different and talented! Click on each name to learn more!</p>
    

  <div class="row">
    {% for members in queen.members %}
      <div class="col-sm-6 col-md-3 col-lg-3">
        <img src="img/members/{{ members.image }}" alt="members" class="img-fluid">
        <h3 class="index-members"><a href="members/{{ members.slug }}.html">{{ members.name }}</a></h3>
      </div>
    {% endfor %}
  </div> 

<hr>

  <h2 class="index-discography"><a href="discography.html">Discography</a></h2>
  <p>Below, you'll find a few of the albums from 1973-1995. Click the link to see them all!</p>

<div class="row row-cols-sm-3 row-cols-md-5">
{% for album in queen.discography %}
  <div class="col mb-4">
    <div class="card">
      <img src="img/discs/{{album.image}}" class="card-img-top" alt="discs">
    </div>
  </div>
  {% endfor %}
</div>

<hr>

<h2><a href="billboard.html">Weeks on the Billboard Hot 100 Charts</a></h2>
<p>Click this link to find out which song lasted the longest on the charts! I'll give you a hint, it is Queen's second longest song.</p>  

</div>
{% endblock %}