{% extends '_templates/base.njk' %}

{% block page_title %}Gabby Keene's Website{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>A website dedicated to the band, Queen</h1>
      <p>Queen are a British rock band formed in London in 1970. There were four main members of the band: Freddie Mercury, Brian May, Roger Taylor and John Deacon. Some of their most famous songs include "Bohemian Rhapsody" and "We Are The Champions."</p>
    </div>
  </div>

  <div class="row">
    {% for members in queen.members %}
      <div class="col">
        <img src="img/members/{{ members.image }}" alt="members" class="img-fluid">
        <h3 class="index-members"><a href="members/{{ members.slug }}.html">{{ members.name }}</a></h3>
      </div>
    {% endfor %}
  </div> 

</div>
{% endblock %}