{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% from '_macros/prose.njk' import prose %}

{% block page_title %}Members of the band, Queen{% endblock %}

{% block page_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/members/{{ image }}" alt="members" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <h5>Instruments: {{ instruments }}</h5>
          <h5>Born in {{ birthplace }} on {{ birthdate }}</h5>
          <p>{{ description | safe }}</p>
          {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}